<!doctype html>
 <html lang="en">
  <head>

    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilo.css">
    <title>
      Álcool ou Gasolina
    </title>
  </head>
  <body>

    <!-- NavBar-->

    <%- include('partials/navbar.ejs') %>

    <!--conteúdo-->

  <br>
  <br>
  <div class="container d-flex justfy content center-center col-12 col-sm-12 col-md-12 col-lg-8 col-lx-8">
    <div class="container card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="css/Gasolina.png" class="card-img" style="padding: 20px;"...">
        </div>
          <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-lx-8">
            <div class="card-body">
              <div class="card-title">
            <center>
              <h2>
                Álcool ou Gasolina
              </h2>
              </div>
  <br>
              <form action="combustivel" method="POST">
                <center>
                  <label for="litros">
                    Preço do Álcool
                </center>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-danger" id="basic-addon1" style="color: white;">
                      R$
                    </span>
                  </div>
                <input type="text" class="form-control" name="num1" placeholder="0.00" aria-label="Username" aria-describedby="basic-addon1" value="<%= typeof num1 !== 'undefined' ? num1 : null %>"/>
                </div>
                  </label>
                    <center>
                      <label for="quilometragem">
                        Preço da Gasolina
                      </center>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-danger" id="basic-addon1" style="color: white;">
                        R$
                      </span>
                    </div>
                <input type="text" class="form-control" name="num2" placeholder="0.00" aria-label="Username" aria-describedby="basic-addon1" value="<%= typeof num2 !== 'undefined' ? num2 : null %>"/>
                  </div>
                      </label>
                  <center>
                    <button class="btn btn-danger" type="submit" name="op" value="calc">
                      Calcular
                    </button>
                    <button class="btn btn-danger" type="submit" name="op" value="limp">
                      Limpar
                    </button>
              </form>
            </div>
          </div>
            <div class="alert alert-danger col-lg-12" role="alert">
              <center>
                <% if (typeof resultado !== 'undefined') { %>
                  <h5>
                    <%= msg %>
                  </h5>
                <%}else{ %>
                  <h5>
                    O que é mais vantajoso ?
                  </h5>
                <% } %>
              </center>
            </div>
      </div>
    </div>
  </div>

    <!--Rodapé-->

    <%- include('partials/footer.ejs') %>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
